/* COLORS
----------------------------------------*/

// Spotify palette
@bg: #121314;       // Dark
@track: #DBDBDB;    // Light grey
@artist: #8E8E90;   // Grey
@green: #6A9409;    // Gren

@border: @track;

// Wejay palette
@wejay: #f89f30;    // Wejay orange