/* COLORS
----------------------------------------*/

// Spotify palette
@bg: #121314;       // Dark
@track: #adaeb3;    // Light grey
@artist: #dbdce2;   // Grey
@green: #6A9409;    // Gren

@border: darken(@track,50%);

// Wejay palette
@wejay: #f89f30;    // Wejay orange