<div class="playlist">
  <h2 ng-show="room.roomName">{{ room.roomName }} Wejay Room</h2>
  <ul>
    <li ng-repeat="song in playlist.slice(1)">
      <div class="star" ng-class="{'starred':song.track.starred}" ng-click="star(song.track)">&#9733;</div>
      <img ng-src="{{ song.track.image }}">
      <div class="info">
        <a class="artist" ng-href="{{ song.track.artists[0].uri }}">{{ song.track.artists[0].name }}</a>
        <div class="track">
          {{ song.track.name }}
        </div>
      </div>
      <img ng-src="{{ song.user.image }}" class="user">
      <div class="duration">{{ song.time }}</div>
    </li>
  </ul>
  <div class="totals" ng-show="totalDuration">
     <div class="songs">{{ playlist.length }} songs</div>
     <div class="duration">{{ totalDuration }} min</div>
  </div>
  <div class="empty-state" ng-hide="playlist">
    <div>No songs ;(</div>
    Drop some here to start playing!
  </div>
</div>