
<section ng-controller="RoomCtrl">
  <div class="now-playing">
    <div class="overlay"></div>
    <div class="background-wrap">
      <div id="background"></div>
    </div>
    <div id="now-playing-image"></div>
    <div class="info" ng-show="nowPlaying">
      <div class="artist">{{ nowPlaying.track.artists[0].name }}</div>
      <div class="track">{{ nowPlaying.track.name }} 
      </div>
      <div class="tools">
        <input type="checkbox" ng-model="master"> <!-- peeerty pleeze -->
      </div>
      <div class="user">
        <img ng-src="{{ nowPlaying.user.image }}">
      </div>
    </div>
  </div>
  <div class="fb-login">
    <button ng-click="login()" ng-hide="me">Login with Facebook</button>
    <button ng-click="logout()" ng-show="me">Logout</button>
  </div>
  <playlist></playlist>
  <div id="usersNmeta">
    <div>
      <h3>Logged in Wejays</h3>
      <ul>
        <li ng-repeat="user in users | orderBy:lastPlayDate">
               <img ng-src="{{ user.image }}">
               {{ user.name }}</li>
      </ul>
    </div>
    <div class="bio" ng-show="nowPlaying.meta.biography">
      <h3>About {{ nowPlaying.track.artists[0].name }}</h3>
      <div ng-bind-html="nowPlaying.meta.biography | limitTo:500"></div>
    </div>
  </div>
  <toplist></toplist>


</section>
<!-- TODO: make it perrrty -->
<select ng-model="room.roomName">
  <option ng-repeat="work in me.work">{{work.employer.name}}</option>
</select>
