section[ng-controller="RoomCtrl"] {
  .now-playing {
    font-size:24px;
    height:250px;
    position: relative;

    .background-wrap {
      height:100%;
      overflow:hidden;
      position: relative;

      #background {
        -webkit-filter: blur(20px);
        -webkit-transform: scale(2);
        -webkit-transform-origin: top left;
        background-size:cover;
        height: 100%;
        left:-100px;
        position: absolute;
        top:-100px;
        width: 100%;
      }
    }

    #now-playing-image {
      bottom:-20px;
      display: inline-block;
      left:@standardMargin;
      margin-right:20px;
      position: absolute;

      .sp-image-style-inset .sp-image-inset {
        .box-shadow(none);
      }
    }

    .info {
      .box-sizing();
      
      background: rgba(33,33,33,0.5);
      bottom:0;
      display:inline-block;
      left:0;
      padding: 5px 20px 5px 260px;
      position: absolute;
      vertical-align:top;
      width:100%;
      z-index:2;

      div {
        .text-overflow();
        
        display: block;

        &.artist {
          color:@artist;
        }

        &.track {
          color:@track;
          max-width: 70%;
          display: inline-block;
        }

        &.tools {
          display: inline-block;
        }

        button{
          border: 0;
          color: #fff;
          background: rgba(33,33,33,0.5);
        }

        &.user {
          .position(top-right, 5px, 40px);
          height:68px;
          img {
            width:68px;
          }
        }
      }

    }
  }

  .fb-login {
    position: absolute;
    top: 0;
    right: @standardMargin;
    z-index: 3;

    button {
      .appearance();
      .box-shadow(0px 1px 3px rgba(33,33,33,0.4));
      .border-radius(0 0 3px 3px);

      background:@fb;
      border: none;
      color:#fff;
      cursor:pointer;
      font-weight:bold;
      margin:0;
      padding:10px 10px 5px;

      &:hover { background: @fbLight; }
    }
  }
  
  #usersNmeta {
    background:lighten(@bg,5%);
    padding:(@standardMargin / 2) @standardMargin @standardMargin;

    > div {
      display: inline-block;
      vertical-align:top;
      width:49%;

      &:first-child {
        margin-right:1.5%;
      }
    }
  }
}
