/*********************************************
* FONT-FACE DEFINITIONS
*********************************************/

@font-face
{
  font-family: 'League Gothic';
  src: url('../league_gothic-webfont.ttf') format('truetype');
  src: url('../league_gothic-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*********************************************
* GLOBAL STYLES
*********************************************/
html, body
{
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  min-height:100%;
}


/*********************************************
* Disables userselect, and enables them for
* specific elements.
**********************************************/
html * 
{
  -webkit-user-select: none;
  -webkit-user-drag: none;    
}

#roomName,
#roomNameBanner,
.auto-completeForm .input.token-input input[type=text],
#sharePopup #shareURL
{
    -webkit-user-select: auto;
}
#userToplist li a:not(.addSongToQueue),
.auto-completeForm .input.token-input .tracks a
{
    -webkit-user-drag: element;
}

/*********************************************
* HEADERS
*********************************************/
header
{
  height:30px;
  text-align: center;
  margin-top: -20px;
}

h1, h2, h3, h4
{
  margin: 10px 0 10px 0;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 0.9em;
  font-weight: normal;
  text-shadow: 1px 1px 0 black;
  display: block;
}
h1
{
  font-family: 'League Gothic', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 30px;
  margin:0 0 15px 0;
}
h2
{
  font-family: 'League Gothic', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 24px;
}
h3
{
  font-size: 14px;
  display: inline-block;
}
h4
{
  font-size: 12px;
  line-height: 14px;
}
a
{
  color: #fff;
}

/*********************************************
* BRANDING
*********************************************/

#branding 
{
    padding: 10px 0 0;
    width: 100%;
    z-index: 10;
    position: absolute;
}
#branding img
{
    display:block;
    margin:0 auto;
}
/*********************************************
* SLIDES
*********************************************/
#main
{
  min-width: 465px;
  text-align: center;
  margin-top: -20px;
  padding-top: 20px;
}
#offline
{
  background-image: -webkit-linear-gradient(top, rgb(26,26,26) 0%,rgb(60,60,60) 70%,rgb(90,90,90) 100%);*/
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#offline h1 
{
    position: absolute;
    top: 50%;
    height: 30px;
    width: 210px;
    margin: -30px 0 0 -105px;
    left: 50%;
}

/*********************************************
* NOTIFIER
*********************************************/
#notifierHolder
{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10000;
    height: auto;
    width: 100%;
    background-color: hsla(0, 0%, 12%, .9);
    padding: 0;
    display: block;
    max-height: 180px;
    -webkit-transition: all .2s ease;
}
#notifierHolder div
{
    padding: 0 10px;
    margin: 6px auto 0;
    display: block;
    position: relative;
    width: 660px;
    height: 54px;
}
#notifierHolder div h1
{
    padding: 6px 0 0;
    margin: 0;
    display: inline-block;
    vertical-align: top;
}
#notifierHolder div p
{
    vertical-align: super;
    display: inline-block;
    width: 583px;
    border-left: 1px solid white;
    color: white;
    height: 100%;
    max-height: 50px;
    overflow: hidden;
    padding: 0 0 0 20px;
    margin: 0 0 0 20px;
    min-height: 33px;
    text-overflow: ellipsis;
}
#notifierHolder #closeNotifierHolder
{
    position: absolute;
    right: 5px;
    top: 0;
    height: 25px;
    width: 25px;
    padding: 0;
    margin: 0;
    color: White;
    cursor: pointer;
    background: url("../Images/glyphicons_207_remove_2_white.png") no-repeat 50% 50%;
}

/*********************************************
* DEFAULT ELEMENT STYLES
*********************************************/
#overlayLimit,
#overlay 
{
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.8);
    z-index:10000;
    display:none;
}

#overlay #facebook 
{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    background: rgba(0,0,0,0.7);
    padding: 20px;
    box-sizing: border-box;
    margin-top:-190px;
    height:380px;
}

#overlayLimit #addedTracksLimitReached 
{
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    background-image: -webkit-linear-gradient(top, #5798D2 0%,#0063CB 100%);
    padding: 20px;
    box-sizing: border-box;
    margin-top:-125px;
    height:250px; 
    color: #fff;
}

#overlayLimit #addedTracksLimitReached h2
{
    line-height: 1.2;
    height: 28px;
}

#disclaimerLogin {
    color: #fff;
    text-shadow: none;
}
input[type="submit"],
button:hover
{
    cursor: pointer;    
}
section
{
  display: none;
  opacity: 0;
  text-align: center;
  background: none;
  min-height: 0;
  height: 0;
  padding: 0;
  margin: 0;
}
#background
{
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    z-index: 0;
    background: -webkit-linear-gradient(top, rgb(26,26,26) 0%,rgb(60,60,60) 70%,rgb(90,90,90) 100%) top left;
    top: 0;
    left: 0;
}
section.current
{
  opacity: 1;
  display: block;
  z-index: 1;
  position: absolute;
  width: 100%;
  min-height: 100%;
  margin-top: 0;
  padding-top: 30px;
}

#aboutSection section.current,
#chooseSection section.current
{
  margin: 0px auto 0;
  padding: 51px 0 0 !important;
  width: 670px;
  display: inline-block;
  text-align: left;
  position: relative;
  background: none;
}
#chooseSection .rooms li
{
    cursor: pointer;
}
#aboutSection section span
{
  display: inline-block;
  background-color: rgba(0,0,0,.6);
  width: 630px;
  padding:20px;
  margin: 0 0 20px;
}
#aboutSection h3 {
    margin-top: 0;
}
#aboutSection ul {
    margin: 20px;
}
#aboutSection li 
{
    list-style:initial;
}
#loginInformation
{
  display: inline-block;
  background-color: rgba(0,0,0,.6);
  padding: 20px;
  width: 630px;
  margin: 0 0 20px;
}
#chooseSection #roomsInformation 
{
    width:315px;
    padding: 20px;
}
#chooseSection .banner,
#chooseSection .buttons
{
  padding: 20px;
  background-color: rgba(0,0,0,.6);
  vertical-align: top;
  display: inline-block;
}
#chooseSection .banner h2
{
  height: 30px;
}
#chooseSection .banner h2, #chooseSection .banner p
{
  display: block;
}
#chooseSection .buttons address
{
  margin: 0;
  padding: 0 0 10px;
  width: 100%;
}
#roomName
{
    width: 150px;
    display: inline-block;
    box-shadow: inset 0px 1px 5px rgba(0,0,0,0.3);
    padding: 5px;
}
#chooseSection #loginInformation
{
  height: 250px;
  background: url("../images/top.jpg") 50% 46% no-repeat;
  background-size: 101% auto;
  position:relative;
}
#chooseSection #disclaimerLogin
{
  display: block;
  height: 21px;
  margin: 5px 0;
}

#chooseSection #loginInformation h1,
#chooseSection #loginInformation p
{
  max-width: 330px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
#chooseSection #loginInformation p
{
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,.5);
  background: rgba(0,0,0,0.5);
  padding: 20px;
}
#chooseSection section span p
{
  max-width: 330px;
}
#chooseSection .buttons
{
  width:100%;
  box-sizing:border-box;
}
#chooseSection .banner
{
  width:100%;
  box-sizing:border-box;
  position: relative;
  color: white;
  font-size: 110%;
  line-height: 1.4em;
  background: -webkit-linear-gradient(top,  #f9b24d 0%,#f7970c 100%); /* Chrome10+,Safari5.1+ */
  margin-bottom:20px;
}

#chooseSection .banner form input[type="submit"]
{
    display: inline-block;
}
#chooseSection .banner #roomSelect
{
    width: 100%;
    display: inline-block;
}
#chooseSection .banner .input:focus 
{
    background:#fff;
}
#chooseSection .banner h2
{
    font-size: 30px;
    line-height: 1em;
    margin: 0 0 10px 0;
}
#chooseSection #enterRoomBanner
{
    position: relative;
    background: -webkit-linear-gradient(top, #F9B24D 0%,#F7970C 100%);
    padding: 20px;
    margin-top: 20px;
    display: none;
}
#chooseSection #enterRoomBanner:after
{
  top: -20px;
  left: 25px;
  display: block;
  content: "";
  color: #999;
  position: absolute;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent #F9B24D transparent;
}
#chooseSection #enterRoomBanner p
{
  margin-bottom: 10px;
  color: white;
}
#chooseSection #enterRoomBanner #roomSelectBanner
{
  width: 100%;
  margin: 0;
}
#chooseSection #enterRoomBanner #roomSelectBanner input
{
  font-family: 'League Gothic', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}
#chooseSection #enterRoomBanner #roomSelectBanner input[type="text"]
{
  width: 70%;
  border: none;
  -webkit-appearance: none;
  padding: 15px 10px 5px;
}
#chooseSection #enterRoomBanner #roomSelectBanner input[type="submit"]
{
  color: white;
  width: 20%;
  border: none;
  -webkit-appearance: none;
  float: right;
  background: none;
  margin-top: 15px;
  text-shadow: 1px 1px 0 Black;
}
#aboutSection .rows
{
  background: none;
  padding: 0;
  margin: 0;
  border: none;
}
#roomSection section
{
  line-height: 1.2em;
  width: auto;
  min-width: 560px;
  margin: 0 auto;
  background: none;
}
ol
{
  list-style: decimal;
  list-style-position: inside;
}
li, p
{
  margin-bottom: 10px;
}
a:not(.image)
{
  text-decoration: none;
}

h3
{
  clear:both;
}

#roomLink
{
  width: 250px;
}

.hidden.title
{
    display: none;
}
#currentAlbum,
#currentLink
{
  display: block;
  margin: 0;
  width: 200px;
  height: 200px;
  min-width: 200px;
  min-height: 200px;
}

#current
{
  position: relative;
  width: 250px;
}

#currentHolder
{
  width: 200px;
  position: relative;
}

#currentHolder .hover
{
  opacity: 0.6;
  -webkit-transition: opacity .08s ease-in-out;
}
#currentHolder:hover .hover
{
  opacity: 1;
}

#current h3
{
  display:block;
  clear:both;
  margin-top: 10px;
  margin-bottom: 20px;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 1.2em;
}

#users li
{
  list-style: none;
  list-style-type: none;
  clear: none;
  float: left;
  width: 230px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px 0;
  display: block;
}
#users li:last-child
{
  margin-bottom: 0;
}
#users li a 
{
    cursor:default;
}
#noUsers
{
  color:#fff;
  font-size: 13px;
  line-height: 18px;
}
.rooms
{
  width:100%;
}
.loadingIndicator 
{
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin: 20px auto 0 auto;
    display:none;
}
.rooms li
{
    list-style: none;
    margin: 0;
    width: 100%;
    color: white;
    overflow: hidden;
    padding: 9px 10px 3px;
    position: relative;
    box-sizing:border-box;
    text-transform: uppercase;
}
.rooms li:nth-child(odd) 
{
    background:rgba(255,255,255,.05);
}
.rooms li:hover 
{
    background:rgba(255,255,255,.08);
}
.rooms li a
{
  color:#fff;
  width:100%;
  display:block;
}
.rooms img
{
  float: left;
  margin:0;
  border:0;
}
.rooms dl:nth-child(1)
{
  border-radius: 4px 0 0 0;
}
.rooms dl:nth-child(3)
{
  border-radius: 0 4px 0 0;
}
.rooms dl:nth-child(7)
{
  border-radius: 0 0 0 4px;
}
.rooms dl:nth-child(9)
{
  border-radius: 0 0 4px 0;
}
.rooms dl
{
  width: 50px;
  height: 50px;
  float: left;
  display: block;
  text-decoration: none;
  padding: 0px;
  margin:0;
  overflow: hidden;
}
#btnLogin, #btnLogout 
{
    margin-top:20px;
}
#queue
{
  width: 330px;
  display: block;
  text-align: left;
  color: #fff;
  margin: 10px 0 0;
  padding: 0;
}
#queue li
{
  max-width: auto;
  position: relative;
}
#queue li:nth-child(odd)
{
  background-color: rgba(255,255,255,.05);
}
#queue .star
{
  display: inline-block;
  height: 14px;
  width: 16px;
  background: url("../images/heart.png");
  vertical-align: top;
  margin: 12px 0 0 5px;
  position: absolute;
  background-repeat: no-repeat;
  cursor: pointer;
}
#queue .star.no1
{
    background-position: 0 0;
}
#queue .star.no3
{
    background-position: 0 -13px;
}
#queue .star.no3:hover
{
    background-position: -16px -13px;
}
#queue .star.no5
{
    background-position: 0 0;
}
#queue .star.no5:hover
{
    opacity: .8;
}
#queue .song .track
{
  padding: 0 0 4px 0;
  display: block;
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#queue .song
{
  margin: 5px 0;
  display: inline-block;
  /* används när HJÄRTA-funktionen finns tillgänglig
  width: 280px;
  padding: 0 0 0 30px;
  */
  width: 310px;
  padding: 0 10px;
}
#queue a
{
  color: #fff;
}
#queue .nothing.playing, #likeHover, #skipHover 
{
  background-image: -webkit-linear-gradient(top, #5798d2 0%,#0063CB 100%);    
  position: absolute;
}

#likeHover, #skipHover
{
    color:#fff;
    padding:15px;
    left:-10px;
    bottom:-80px;
    display:none;
    z-index: 1000;
}
#skipHover 
{
    left:30px;
    bottom:-65px;
}
#queue .nothing.playing
{
  display: block;
  margin: 5px 10px 10px 0;
  color: #999;
  position: absolute;
  padding: 15px;
  width: 300px;
}

#queue .nothing.playing:after, #likeHover:after, #skipHover:after
{
  top: -20px;
  left: 15px;
  display: block;
  content: "";
  color: #999;
  position: absolute;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent #5798d2 transparent;
}
#queue .nothing.playing p
{
  color: white;
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}
#queue .nothing.playing strong
{
  font-weight: 700;
  line-height: 1em;
  padding: 0;
  margin: 0 0 5px;
  display: block;
}
.auto-completeForm .input
{
  padding:6px;
}
#publicRooms
{
  white-space: nowrap;
  overflow: hidden;
}
.rooms a
{
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 25px;
    line-height: 20px;
}
.auto-completeForm input
{
  width: 100%;
}
.input
{
  width: 338px;
  padding: 5px;
}
.auto-completeForm
{
  max-height: 400px;
}
.auto-complete
{
  width: 100px;
  display: none;
  height: 100%;
  position: absolute;
  opacity: 0;
}
.auto-complete.show
{
  opacity: 1;
  width: 338px;
  margin-top: 5px;
  display:block;
  height: auto;
  margin-left: -20px;
}
.auto-complete.show:before 
{
  background-color: gray;
  left: 0;
  top: 0;
  height: 100%;
  display: block;
  position: absolute;
}
.auto-complete.show .tracks
{
  display: block;
}

.auto-complete.show .tracks a
{
  height: 15px;
  padding: 0 5px 15px 5px;
  margin: 0;
  width: 338px;
  -webkit-transition: all .08s ease-in-out;
}
.auto-complete.show .tracks a.active,
.auto-complete.show .tracks a:hover
{
  background-color: #9ad2fa;
  text-shadow: 0 -1px 1px #eee;
}

.auto-complete img
{
  width: 20px;
  height: 20px;
  border: 1px solid #e2e2e2;
  margin: 5px 5px 7px 0;
  padding: 0;
  vertical-align: middle;
}

.auto-complete strong, #queue strong
{
  font-weight: normal;
}
.auto-complete span,
.auto-complete .artists
{
  display: none;
}
.auto-complete .tracks
{
  position: relative;
  width: 338px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 10px 0;
  z-index: 100;
  background-color: #fff;
  border-radius: 4px;
}
.auto-complete a
{
  float:left; 
  clear: both;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 328px;
  color:#aaa;
  font-weight: 400;
  display: block;
  font-size: 10px;
}

.auto-complete a img
{
  display: inline;
}
.auto-complete a strong
{
  margin-left: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100px;
  display: inline-block;
  overflow: hidden;
  color: black;
}

.footer
{
  width:591px;
  margin: auto;
  padding-bottom: 40px;
  clear:both;
}
.banner blockquote
{
  font-size: 10px;
  line-height: 15px;
  padding: 10px;
}

table td
{
  text-overflow: ellipsis;
}

.offline
{
  opacity : 0.5;
}

#users
{
  margin-top: 10px;
}

#users li img
{
  width: 50px;
  height:50px;
  display: inline-block;
}
#users li span,
#users li span p,
#users li span img
{
  display: inline-block;
}
#users li span img
{
  float: left;
}
#users li span p
{
  vertical-align: top;
  margin: 7px 0 0 20px;
  color: white;
  width: auto;
  display: inline-block;
}
#users li span p.time
{
  font-size: 9px;
  display: block;
  margin-left: 70px;
}
input[type=text]
{
  border:0px;
  padding:3px;
}
blockquote,
address
{
  clear: both;
  padding:0 10px;
  width: 80%;
  margin: 0 auto;
  text-align:left;
}
blockquote 
{
    text-align:center;
}
blockquote a
{
  color: #fff;
}
#roomSection blockquote 
{
    padding-bottom:20px;
}
/*
 * DISCLAIMER
 */
.checkbox
{
    background-image: url("../images/checkbox.png");
    background-position: 0 36px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    background-color: rgba(255,255,255,.3);
    border-radius: 3px;
    position: absolute;
    left: 150px;
    top: -20px;
}
.checkbox:hover
{
    background-position: 0 54px;
    background-color: rgba(230,255,230,.6);
}
.disclaimer
{
    background-color: rgba(170,170,170,.8) !important;
    margin: 20px auto;
    width: 630px;
    position: relative;
    height: 40px;
    -webkit-transition: all 0.4s ease;
}
.disclaimer *
{
    -webkit-transition: background-color 0.4s ease;
}
.disclaimer h1,
.disclaimer p
{
    color: white;
    display: inline-block;
    text-align: left;
    line-height: 1em;
    margin: 0;
    padding: 0;
    vertical-align: top;
    position: absolute;
}
.disclaimer h1
{
    width: 110px;
    top: 20px;
    left: 20px;
}
.disclaimer p
{
    top: 12px;
    left: 210px;
}
.disclaimer .checkbox {
    top: 19px;
}
/* ROOMS */
.disclaimerRooms
{
    width: 250px;
}
.disclaimerRooms .disclaimer
{
    background-color: transparent !important;
    position: relative;
    top: 0;
    margin: 0 !important;
    width:100%;
}
.disclaimerRooms .disclaimer p
{
    position: relative;
    line-height: inherit;
    top: 0;
    left: 0;
    margin: 5px 0;
    padding: 0;
    color:#999;
}
.disclaimerRooms .disclaimer input[type="button"]
{
    margin: 10px 0 0 30px;
}
.disclaimerRooms .disclaimer input[type="button"].hover
{
    -webkit-border-image: url("sp://import/img/info_group-button.png") 0 7 42 7;
    text-shadow: 0 1px 0 #eee;
}
.disclaimerRooms .disclaimer .checkbox
{
    margin: 126px 0 0 0;
    padding: 0;
    left:0;
}
#disclaimerLoginOriginal.disc p
{
    color: white;
}
#disclaimerLoginOriginal a {
    display: block;
    margin: 20px 0 25px;
}
#disclaimerText 
{
    color:#666;
    padding-left:30px;
}
/*
 * END DISCLAIMER
 */

#header
{
  background: url(../images/Wejay-small.png) no-repeat #fff;
  height: 64px;
  position:absolute;
  top:0;
}

#roomTitle 
{
  margin: 0;
  text-align: left;
  height: 82px;
  font-size: 42px;
  overflow: hidden;
  line-height: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.top
{
  margin: 20px auto;
  padding: 20px;
  width: 670px;
  display: block;
  height: 242px !important;
  text-align: left;
  position: relative;
  background-color: rgba(0,0,0,.6);
  /*border: 1px solid rgba(255,255,255,.2);*/
  box-sizing:border-box;
}
.top .left,
.top .right
{
  float: left;
}
.top .left
{
  width: 215px;
  height: 202px;
}
.top .right
{
  width: 390px;
  height: auto;
  left: 240px;
  bottom: 21px;
  position: absolute;
}
#currentArtist a:hover, #currentTrack a:hover
{
    text-decoration:underline;
}
#like
{
  width: 30px;
  height: 21px;
  display: inline-block;
  content: "";
  vertical-align: bottom;
  position: relative;
}
#like:after
{
  background: url( "../images/heart.png" ) no-repeat 0 -14px;
  width: 16px;
  height: 14px;
  display: block;
  content: "";
  border: none;
  position: absolute;
  bottom: 2px;
  left: 0;
}
#like:hover:after
{
  background-position: -16px 0;
}
#like.liked:after
{
  background-position: 0 0 !important;
}
.top .right #voteOverlay
{
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 250;
  display: none;
  background: rgba(0,0,0,.7);
  position: fixed;
}
.top .right #voteOverlay.show
{
  display: block;
}
.top .right #voteOverlay div
{
  width: 330px;
  height: 136px;
  left: 50%;
  top: 50%;
  margin: -68px 0 0 -185px;
  padding: 20px;
  position: absolute;
  background: url("sp://wejay/images/bg_plaid.png");
  z-index: 251;
}
.top .right #voteOverlay div p
{
    margin-bottom: 20px;
    line-height: 1.4em;
}
.top .right #voteOverlay div .close
{
    width: 15px;
    height: 15px;
    right: 5px;
    top: 5px;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 251;
    background: url("sp://wejay/images/window-controls-generic.png") -30px 0 no-repeat;
    content: "";
}
.top .right #voteOverlay div .close:hover,
.top .right #voteOverlay div .close:active
{
    background-position: 0 0;
}
.top #onair
{
    line-height: 1em;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 2px;
    top: 4px;
    color: rgb(220,220,220);
}
.middle
{
  margin: 0 auto;
  width: 670px;
  display: block;
  text-align: left;
  height: auto;
}
.middle h2
{
  margin:0 0 10px 0;
}
.middle .left,
.middle .right
{
  display: inline-block;
  float: left;
  margin-bottom: 20px;
}
.middle .left
{
  width: 330px !important;
  padding: 20px;
  background-color: rgba(0,0,0,.6);
}
.middle .left #queue {
  overflow: auto;
}
.middle .right .toplist, .middle .right .logged
{
  padding: 20px;
  background-color: rgba(0,0,0,.6);
  display: inline-block;
  margin-bottom: 20px;
  width:100%;
  box-sizing: border-box;
}
.middle .right
{
  width: 280px;
  margin-left: 20px;
}
.middle .right #users
{
  overflow: auto;
  display: block;
  margin: 10px 0;
  overflow-x: hidden;
}
.middle .right .toplist ul {
  overflow: auto;
}
.middle .right.userlist
{
  clear: both;
}
.middle .right h3
{
  margin-left: 15px;
}
.middle .right .buttons
{
  float: left;
  clear: both;
  width: 120%;
}
#start
{
  margin: -21px 0 0 -21px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 43px;
  height: 43px;
  border: none;
  background: url("sp://import/img/play-button-M.png") transparent;
  background-position-x: -178px;
  display: block;
  cursor: default;
}
#start:hover 
{
  background-position-x: -223px;
}
#start.pause 
{
  opacity: 0.8;
  background-position-x: 43px;
}
#start.pause:hover 
{
    opacity: 1;
}
#start.onair 
{
    background-position-x:-90px;
}
#start.onair:hover 
{
    background-position-x:43px;
}
.image
{
  background-color: gray;
}
#sharePopup
{
  display: none;
  height: 0;
  margin: 20px auto;
  padding: 0;
  width: 630px;
  position: relative;
  background-image: -webkit-linear-gradient(top, #5798D2 0%,#3A87CD 100%);
  color: white;
  -webkit-transition: all .08s ease-in-out;
}
#sharePopup.show
{
  display: block;
  height: auto;
  padding: 20px;
  -webkit-transition: all .08s ease-in-out;
}
#sharePopup #closeShare
{
  background: url("../images/window-controls-generic.png") 0 0 no-repeat;
  -webkit-appearance: none;
  border: none;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
#sharePopup #shareOnMail:after,
#sharePopup #shareOnFacebook:after
{
  margin-left: 3px;
  content: url('sp://import/img/icon-external.png');
  opacity: 0.5;
  -webkit-transition: all .08s ease-in-out;
}
#sharePopup #shareOnMail:hover:after,
#sharePopup #shareOnFacebook:hover:after
{
  opacity: 1;
}
#manualShare
{
  padding: 10px 0 0;
}
#manualShare input
{
  display: inline-block;
  width: 45%;
}
#manualShare.hide
{
  display: none;
}
#sharePopup #closeShare:hover
{
  background-position: -30px 0;
}
footer
{
    border-top: 1px solid rgba(255, 255, 255, .2);
    box-shadow: 0 -1px 0 rgba(0,0,0,.2);
    width: 100%;
    display: inline-block;
    margin: 0 0 0 -15px;
    z-index: 0;
    clear: both;
    padding: 15px;
    bottom: 0;
    z-index: 4;
    position: fixed;
    height: 100px;
    background: #ecebe8;
    left: 0;
}
    #roomSection footer 
    {
        position:static;
    }
footer *
{
  color: #636363;
  max-width: 670px;
  margin: 0 auto;
}
footer a
{
  color: black;
  display: block;
}
#userToplist li
{
  margin: 0;
  padding: 0;
  webkit-transition: background-color .08s ease-in-out;
}
#plusToAdd 
{
    margin-left:10px;
    margin-top:10px;
}
#userToplist li a.addSongToQueue
{
  display: inline-block;
  height: 13px;
  width: 14px;
  background: url("../images/crosses.png");
  vertical-align: bottom;
  margin: 2px 0 5px 5px;
  background-repeat: no-repeat;
}
#userToplist li a.addSongToQueue:hover
{
  background-position: 0 -13px;
}
#userToplist li a.songInTopList
{
  padding: 5px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  margin: 0;
  max-width: 197px;
}
#userToplist li a.songInTopList strong
{
  max-width: 100px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#userToplist li:nth-child(odd)
{
  background-color: rgba(255,255,255,.05);
}
#userToplist li:hover
{
  background-color: rgba(255,255,255,.08);
}
/* Tutorial
-------------------------------------------------*/
    #tutorialWrap 
    {
        width:80%;
        display:none;
    }
    #tutorialBtn, #roomLogin
    {
        background: -webkit-linear-gradient(top, #F9B24D 0%,#F7970C 100%);
        color: white;
        padding: 10px 15px;
        text-align: center;
        font-family: 'League Gothic', Sans-Serif;
        font-size: 24px;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
        cursor: pointer;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
        width: 49%;
        margin-top: 10px;
        box-sizing: border-box;
        display: inline-block;
    }
    #facebook .sp-button, #facebook .sp-button:disabled
    {
        -webkit-border-image:none;
    }
    #facebook .sp-button:disabled 
    {
        opacity:0.3;
        cursor:default !important;
    }
    #roomLogin 
    {
        background:-webkit-linear-gradient(top, #5798D2 0%,#0063CB 100%);
        padding: 10px 15px 11px 15px;
        position: relative;
    }
#tutClose {
    background: -webkit-linear-gradient(top, #F9B24D 0%,#F7970C 100%);
    color: white;
    border: 0;
    width: 75%;
    height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    padding: 4px 0;
    box-sizing: border-box;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}
        #tutorial
        {
            width: 75%;
            position: absolute;
            color: white;
            text-align: center;
            font-family: 'League Gothic', Sans-Serif;
            text-transform: uppercase;
            background: #333;
            top: 0;
            left: 0;
            z-index: 99999;
            line-height: 1;
        }
        #tutStart
        {
            max-height: 100%;
            width: 100%;
            font-size: 100px;
            text-transform: uppercase;
            padding: 30% 0;
            box-sizing: border-box;
        }
        .subtitle 
        {
            color:#666;
            font-size:24px;
        }
        .arrow 
        {
            -webkit-transform:rotate(90deg);
            -webkit-transition:all 500ms ease;
            position:relative;
            -webkit-animation-name:aniArrow;
            -webkit-animation-duration: 1s;
            -webkit-animation-delay: 1s;
            -webkit-animation-direction:alternate;
            -webkit-animation-iteration-count:infinite;
        }
        @-webkit-keyframes aniArrow 
        {
            from 
            {
                top:0;
            }
            to 
            {
                top:50px;
            }
        }
        #tutLogo
        {
            display: block;
            margin: 50px auto;
        }
        .tutAdd, #coworkers
        {
            padding: 25% 0;
            display: inline-block;
            width: 100%;
            position:relative;
        }
        #tutorial .ng-scope:nth-child(odd) .tutAdd
        {
            background:#222;
        }
        .tutAdd .image
        {
            width: 300px;
            height: 300px;
            margin: 0 auto;
        }
        #fadeIn1 .image {
            display: inline-block;
            width: 100px;
            height: 100px;
            margin-right: 10px;
        }
        .tutAdd .image img
        {
            width: 100%;
            box-shadow: 0px 0px 20px rgba(33,33,33,1);
        }
        .songDesc
        {
            font-size: 3em;
            margin-top:20px;
        }
        .tutAdd h3
        {
            color: #eee;
            font-size: 36px;
            font-family: 'League Gothic';
            display:block;
        }
        .songDesc p
        {
            margin: 0;
        }
        .desc
        {
            color: #666;
        }
        #coworkers 
        {
            font-size:48px;
            
        }
        #coworkers li 
        {
            list-style:none;
            display:inline-block;
            font-size:24px;
            color:#666;
            margin-right:20px;
        }
        #coworkers li:last-child 
        {
            margin-right:0;
        }
        .coworkerImg 
        {
            margin-bottom:20px;
            display:block;
            width:200px;
        }
        .coworkerImg img 
        {
            width:200px;
        }
        .userImg 
        {
            position: absolute;
            top: 0;
            height: 120px;
            left: 0;
        }
        #tutQueue
        {
            position:fixed;
            width: 25%;
            height: 100%;
            background: #444;
            right: 0;
            top: 0;
            font-family:'League Gothic', Sans-Serif;
            z-index:99999;
            padding-right:1px;
        }
        #tutInner 
        {
            padding: 20px;
        }
        }
        #queueLength 
        {
            color:#666;
        }
        #tutQueue h3 
        {
            color:#fff;
            font-family:'League Gothic', Sans-Serif;
            font-size:24px;
        }
        #tutQueue ul
        {
            padding: 0;
        }
        .tutQueue
        {
            list-style: none;
            padding: 5px 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
            display:none;
            font-size: 18px;
        }
        #tutQueue .addedBy 
        {
            color:#666;
        }
        #tutQueue .addedBy:before 
        {
            content:"added by ";
        }
        .queueImg {
            float: left;
            height: 35px;
            margin-right: 20px;
            position: relative;
            top: 1px;
        }
        .blocked 
        {
            opacity: 0.6;
            color: #400;
        }


@media (max-width:680px)
{
    h1 
    {
        margin-top: 20px;
    }
    section.current
    {
        min-height: 0;
        padding-top: 40px;
    }
    #chooseSection #loginInformation
    {
        height: auto !important;
    }
    #roomSection section
    {
        min-width: 0;
        width: 100%;
    }
    #roomSection .top
    {
        margin: 0 0 20px;
        padding: 0 5% 10px;
        width: 90%;
        height: auto !important;
        position: relative;
        display: inline-block;
    }
    #roomSection .top .left
    {
        margin: 10px 0 0;
    }
    #roomSection .top #roomTitle
    {
        margin: 11px 0 0;
    }
    #roomSection .top #onair
    {
        top: initial;
        bottom: 4px;
    }
    #roomSection .top .right
    {
        float: right;
        width: auto;
        padding-bottom: 10px;
        bottom: 0;
    }
    .middle h2 
    {
        margin:0 0 10px 0;
    }
    #currentQueueNumber 
    {
        margin:20px 0;
    }
    #roomSection .middle, #chooseSection .middle
    {
        width: 100%;
    }
    #roomSection .middle .input
    {
        width: 100%;
        max-width: 100%;
    }
    #roomSection .middle .auto-completeForm
    {
        margin-left: 5px;
    }
    #roomSection .middle .auto-complete.show,
    #roomSection .middle .auto-complete .tracks,
    #roomSection .middle .auto-complete.show .tracks a
    {
        width: 96%;
        max-width: 96%;
    }
    #roomSection .middle .left, #chooseSection .middle .left
    {
        width: 90% !important;
        margin: 0 0 20px;
        padding: 0 5% 20px;
    }
    #roomSection .middle .left #queue
    {
        width: 100%;
    }
    #roomSection .middle .left #queue .nothing.playing
    {
        position: relative;
        width: 95%;
        margin: 0;
        padding: 2.5%;
    }
    #roomSection .middle .left #queue .song
    {
        width: 90%;
        padding: 0 5%;
        margin: 5px 0;
    }
    #roomSection .middle .left #queue .star
    {
        margin: 12px 0 0 3.8%;    
    }
    #roomSection .middle .right, #chooseSection .middle .right
    {
        width: 100% !important;
        margin: 0;
        padding: 0;
    }
    #roomSection .middle .right #users li
    {
        width: 50%;
    }
    #roomSection .middle .right #users li.noOneIsLoggedIn
    {
        width: 100%;
    }
    #roomSection .middle .right #users li span p
    {
        display: block;
        margin: 7px 0 0 60px;
    }
    #chooseSection .banner .input
    {
        width: 100%;
    }
    #chooseSection .banner input[type="text"]
    {
        width: 100%;
        box-sizing: border-box;
    }
    #chooseSection .banner form
    {
        position: inherit;
        bottom: 0;
        left: 0;
    }
    #aboutSection section span, #chooseSection section span
    {
        width: 90%;
        padding: 0 5% 15px;
    }
    #aboutSection section, #chooseSection section 
    {
        width: 100%;
        margin: 0;
    }
    #chooseSection #loginInformation #tutorialBtn 
    {
        display:none;
    }
    #chooseSection .rooms
    {
        width: 100%;
    }
    #chooseSection .banner
    {
        width: 100%;
        padding: 20px;
        height: auto;
        margin: 0 0 20px;
    }
    #chooseSection #enterRoomBanner 
    {
        margin-top:0;
    }
    #chooseSection #enterRoomBanner #roomSelectBanner #roomNameBanner 
    {
        width:100%;
        box-sizing:border-box;
    }
    #chooseSection #enterRoomBanner #roomSelectBanner input[type="submit"] 
    {
        display: block;
        float: none;
        width: 100%;
        background: -webkit-linear-gradient(top, #F9B24D 0%,#F7970C 100%);
        padding: 5px;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    }
    .disclaimerRooms .disclaimer input[type="button"]
    {
        margin: 11px 0 0 10px;
    }
    #chooseSection .banner form input[type="submit"]
    {
        display: none;
    }
    #chooseSection .buttons
    {
        padding: 20px;
        width: 100%;
        margin: 0 0 20px;
        height: auto;
    }
    .disclaimer
    {
        margin: 0 0 20px;
        position: relative;
        width: 100%;
        padding: 10px 0 0;
        height: auto;
    }
    .disclaimer *
    {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
    }
    .disclaimer h1
    {
        padding-top: 10px;
        text-align: left;
        display: block;
        width: 100%;
    }
    .disclaimer .checkbox
    {
        padding: 0;
        margin: 16px 0 0 15px;
        float: left;
    }
    .disclaimer.rooms
    {
        width: 100% !important;
    }
    .disclaimer p
    {
        position: relative;
        width: 80%;
        padding: 0 5% 0 0;
        margin: 0;
    }
    .disclaimerRooms    
    {
        padding: 0 5% 15px !important;
    }
    .disclaimerRooms .disclaimer p
    {
        width: 80%;
        display: block;
    }
    .disclaimerRooms .disclaimer .checkbox
    {
        margin: -135px 0 0 0px;
    }
    #sharePopup
    {
        width: 90%;
        padding: 20px 5% !important;
        margin: 0 0 20px;
        overflow: hidden;
        text-align: left;
    }
    footer *
    {
        width: 90%;
    }
    #currentSong 
    {
        max-height: 50px;
        overflow: hidden;
    }
    #tutorialWrap 
    {
        width: 80%;
        margin: 0 auto;
        left: auto;
        top: auto;
    }
    #tutorial 
    {
        width:75%;
        left:0;
        top:0;
    }
    .userImg 
    {
        height:60px;
    }
    #tutorialBtn, #roomLogin
    {
        width:100%;
    }
    #userToplist li a.songInTopList 
    {
        max-width:92%;
        text-overflow:ellipsis;
        overflow:hidden;
        white-space:nowrap;
    }
    #userToplist li a.songInTopList strong 
    {
        max-width:100%;
    }
}

@media (max-width:460px)
{
    #roomSection .top #roomTitle
    {
        position: absolute;
        top: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 90%;
        box-sizing: border-box;
    }
    #roomSection .top .left
    {
        margin: 80px auto 0;
        float: none;
        position: relative;
        width: 200px;
    }
    #roomSection .top .right
    {
        float: none;
        display: block;
        position: relative;
        top: 10px;
        left: 0;
        padding-bottom: 20px;
    }
    #roomSection .middle .right #users li
    {
        width: 100%;
    }
    #aboutSection .rows
    {
        -webkit-column-count: 0;
        -webkit-column-gap: 0;
    }
    #overlay #facebook {
        width: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -150px;
        background: rgba(0, 0, 0, 0.7);
        padding: 20px;
        box-sizing: border-box;
        margin-top: -215px;
        height: 470px;
    }
}

