/*********************************************
* FONT-FACE DEFINITIONS
*********************************************/

@font-face
{
  font-family: 'League Gothic';
  src: url('../league_gothic-webfont.ttf') format('truetype');
  src: url('../league_gothic-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*********************************************
* GLOBAL STYLES
*********************************************/
html, body
{
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: #ecebe8;
}

/*********************************************
* HEADERS
*********************************************/
header
{
  height:30px;
  text-align: center;
  margin-top: -20px;
}

h1, h2, h3, h4
{
  margin: 10px 0 10px 0;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 0.9em;
  font-weight: normal;
}
h1
{
  font-family: 'League Gothic', serif, Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 30px;
}
h2
{
  font-family: 'League Gothic', serif, Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 24px;
}
h3
{
  font-size: 14px;
  display: inline-block;
}
h4
{
  font-size: 12px;
  line-height: 14px;
}
a
{
  color: #fff;
}

/*********************************************
* SLIDES
*********************************************/
#main
{
  min-width: 465px;
  text-align: center;
}
#offline
{
  background-image: -webkit-linear-gradient(top, rgb(26,26,26) 0%,rgb(60,60,60) 70%,rgb(90,90,90) 100%);*/
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#offline h1 
{
    position: absolute;
    top: 50%;
    height: 30px;
    width: 210px;
    margin: -30px 0 0 -105px;
    left: 50%;
}

/*********************************************
* DEFAULT ELEMENT STYLES
*********************************************/

input[type="submit"],
button:hover
{
    cursor: pointer;    
}
section
{
  display: none;
  opacity: 0;
  text-align: center;
  background: none;
}

section.current
{
  opacity: 1;
  display: block;
  z-index: 1;
  position: absolute;
  background: -webkit-linear-gradient(top, rgb(26,26,26) 0%,rgb(60,60,60) 70%,rgb(90,90,90) 100%);
  width: 100%;
  height: auto;
  margin-top: -10px;
  padding-top: 10px;
  min-height: 480px;
}

#aboutSection section,
#chooseSection section
{
  margin: 20px auto 0;
  padding: 0;
  width: 670px;
  display: inline-block;
  text-align: left;
  position: relative;
  background: none;
}
#chooseSection .rooms li
{
    cursor: pointer;
}
#aboutSection section span,
#chooseSection section span
{
  display: inline-block;
  background-color: rgba(0,0,0,.6);
  padding: 20px;
  width: 630px;
  margin: 0 0 20px;
}
#chooseSection .banner,
#chooseSection .buttons
{
  padding: 20px 20px 40px;
  background-color: rgba(0,0,0,.6);
  vertical-align: top;
  display: inline-block;
  height: 135px;
}
#chooseSection .buttons address
{
  margin: 0;
  padding: 0 0 10px;
  width: 100%;
}
#roomName
{
  width: 205px;
  display: block;
  margin: 3px 0 20px 0;
}
#chooseSection .buttons
{
  margin-left: 20px;
  width: 250px;
}
#chooseSection .banner
{
  width: 315px;
  position: relative;
}
#chooseSection .banner form
{
  position: absolute;
  bottom: 20px;
  left: 20px;
}

#chooseSection .banner form input[type="submit"]
{
  margin-left: -15px;
  position: absolute;
  top: 8px;
  right: -70px;
}
#chooseSection .banner .input
{
  width: 260px;
  display: inline-block;
}
#roomSection section
{
  line-height: 1.2em;
  width: auto;
  min-width: 560px;.
  margin: 0 auto;
  background: none;
}
ol
{
  list-style: decimal;
  list-style-position: inside;
}
li, p
{
  margin-bottom: 10px;
}
a:not(.image)
{
  text-decoration: none;
}

h3
{
  clear:both;
}

#roomLink
{
  width: 250px;
}

.hidden.title
{
    display: none;
}
#currentAlbum,
#currentLink
{
  display: block;
  margin: 0;
  width: 200px;
  height: 200px;
  min-width: 200px;
  min-height: 200px;
}

#current
{
  position: relative;
  width: 250px;
}

#currentHolder
{
  width: 200px;
  position: relative;
}

#currentHolder .hover
{
  opacity: 0;
  -webkit-transition: opacity .08s ease-in-out;
}
#currentHolder:hover .hover
{
  opacity: 1;
}
#current a
{
  cursor: pointer;
}

#current h3
{
  display:block;
  clear:both;
  margin-top: 10px;
  margin-bottom: 20px;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 1.2em;
}

#users li
{
  list-style: none;
  list-style-type: none;
  clear: none;
  float: left;
  width: 230px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px 0;
  display: block;
}
#users li:last-child
{
  margin-bottom: 0;
}
#noUsers
{
  color:#fff;
  font-size: 13px;
  line-height: 18px;
}
.rooms
{
  width: 600px;
  margin:auto;
}
.rooms li
{
  list-style: none;
  list-style-type: none;
  clear: none;
  float:left;
  margin-left: 30px;
  margin-bottom:30px;
  background: #444;
  width: 150px;
  height:150px;
  border-radius: 5px;
  text-align:center;
  text-transform: uppercase;
  color:#fff;
  overflow:hidden;
  padding:2px;
  position:relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: hand;
}
.rooms li a
{
  color:#fff;
  padding:7px;
}
.rooms img
{
  float: left;
  margin:0;
  border:0;
}
.rooms dl:nth-child(1)
{
  border-radius: 4px 0 0 0;
}
.rooms dl:nth-child(3)
{
  border-radius: 0 4px 0 0;
}
.rooms dl:nth-child(7)
{
  border-radius: 0 0 0 4px;
}
.rooms dl:nth-child(9)
{
  border-radius: 0 0 4px 0;
}
.rooms dl
{
  width: 50px;
  height: 50px;
  float: left;
  display: block;
  text-decoration: none;
  padding: 0px;
  margin:0;
  overflow: hidden;
}
#queue
{
  width: 330px;
  display: block;
  text-align: left;
  color: #fff;
  margin: 10px 0 0;
  padding: 0;
}
#queue li
{
  max-width: auto;
  position: relative;
}
#queue li:nth-child(odd)
{
  background-color: rgba(255,255,255,.05);
}
#queue .star
{
  display: inline-block;
  height: 14px;
  width: 14px;
  background: url("sp://import/img/mainlist-star-simple-dark.png");
  vertical-align: top;
  margin: 12px 0 0 5px;
  position: absolute;
}
#queue .star.no1
{
    background-position: 0 0;
}
#queue .star.no3
{
    background-position: 16px 0;
}
#queue .star.no3:hover
{
    background-position: 32px 0;  
}
#queue .star.no5
{
    background-position: 0 0;
}
#queue .star.no5:hover
{
    background-position: 0 0;
}
#queue .song .track
{
  padding: 0 0 4px 0;
  display: block;
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#queue .song
{
  margin: 5px 0;
  display: inline-block;
  width: 280px;
  padding: 0 0 0 30px;
}
#queue a
{
  color: #fff;
}
#queue .nothing.playing
{
  display: block;
  margin: 5px 10px 10px 0;
  color: #999;
  position: absolute;
  padding: 15px;
  width: 300px;
  background-image: -webkit-linear-gradient(top, #5798d2 0%,#3a87cd 100%);
}
#queue .nothing.playing:after
{
  top: -20px;
  left: 15px;
  display: block;
  content: "";
  color: #999;
  position: absolute;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent #5798d2 transparent;
}
#queue .nothing.playing p
{
  color: white;
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}
#queue .nothing.playing strong
{
  font-weight: 700;
  line-height: 1em;
  padding: 0;
  margin: 0 0 5px;
  display: block;
}
.auto-completeForm .input
{
  padding:6px;
}
#publicRooms
{
  white-space: nowrap;
  overflow: hidden;
}
.rooms a
{
  position: absolute;
  top: 55px;
  left: 2px;
  z-index: 100; 
  width: 150px;
  text-align: center;
  background:rgba(0,0,0, 0.3);
}
.auto-completeForm input
{
  width: 100%;
}
.input
{
  width: 338px;
  padding: 5px;
}
.auto-completeForm
{
  max-height: 400px;
}
.auto-complete
{
  width: 100px;
  display: none;
  height: 100%;
  position: absolute;
  opacity: 0;
}
.auto-complete.show
{
  opacity: 1;
  width: 338px;
  margin-top: 5px;
  display:block;
  height: auto;
  margin-left: -20px;
}
.auto-complete.show:before 
{
  background-color: gray;
  left: 0;
  top: 0;
  height: 100%;
  display: block;
  position: absolute;
}
.auto-complete.show .tracks
{
  display: block;
}

.auto-complete.show .tracks a
{
  height: 15px;
  padding: 0 5px 15px 5px;
  margin: 0;
  width: 338px;
  -webkit-transition: all .08s ease-in-out;
}
.auto-complete.show .tracks a:hover
{
  background-color: #9ad2fa;
  text-shadow: 0 -1px 1px #eee;
}

.auto-complete img
{
  width: 20px;
  height: 20px;
  border: 1px solid #e2e2e2;
  margin: 5px 5px 7px 0;
  padding: 0;
  vertical-align: middle;
}

.auto-complete strong, #queue strong
{
  font-weight: normal;
}
.auto-complete span,
.auto-complete .artists
{
  display: none;
}
.auto-complete .tracks
{
  position: relative;
  width: 338px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 10px 0;
  z-index: 100;
  background-color: #fff;
  border-radius: 4px;
}
.auto-complete a
{
  float:left; 
  clear: both;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 328px;
  color:#aaa;
  font-weight: 400;
  display: block;
  font-size: 10px;
}

.auto-complete a img
{
  display: inline;
}
.auto-complete a strong
{
  margin-left: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100px;
  display: inline-block;
  overflow: hidden;
  color: black;
}

.footer
{
  width:591px;
  margin: auto;
  padding-bottom: 40px;
  clear:both;
}

.banner blockquote
{
  font-size: 10px;
  line-height: 15px;
  padding: 10px;
}

table td
{
  text-overflow: ellipsis;
}

.offline
{
  opacity : 0.5;
}

#users
{
  margin-top: 10px;
}

#users li img
{
  width: 50px;
  height:50px;
  display: inline-block;
}
#users li a,
#users li a p,
#users li a img
{
  display: inline-block;
}
#users li a img
{
  float: left;
}
#users li a p
{
  vertical-align: top;
  margin: 7px 0 0 20px;
  color: white;
  display: inline-block;
}
#users li a p.time
{
  font-size: 9px;
}
input[type=text]
{
  border:0px;
  padding:3px;
}

blockquote,
address
{
  clear: both;
  padding: 10px;
  line-height: 18px;
  width: 80%;
  margin: 0 auto;
}
blockquote a
{
  color: #fff;
}
/*
 * DISCLAIMER
 */
.checkbox
{
    background-image: url("../images/checkbox.png");
    background-position: 0 36px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    background-color: rgba(255,255,255,.3);
    border-radius: 3px;
    position: absolute;
    left: 150px;
    top: 19px;
}
.checkbox:hover
{
    background-position: 0 54px;
    background-color: rgba(230,255,230,.6);
}
.disclaimer
{
    background-color: rgba(255,25,49,.8) !important;
    margin: 20px auto;
    padding: 5px 20px 15px !important;
    width: 630px;
    position: relative;
    height: 40px;
    -webkit-transition: all 0.4s ease;
}
.disclaimer *
{
    -webkit-transition: background-color 0.4s ease;
}
.disclaimer h1,
.disclaimer p
{
    color: white;
    display: inline-block;
    text-align: left;
    line-height: 1em;
    margin: 0;
    padding: 0;
    vertical-align: top;
    position: absolute;
}
.disclaimer h1
{
    text-shadow: 1px 1px 0 black;
    width: 110px;
    top: 20px;
    left: 20px;
}
.disclaimer p
{
    width: 420px;
    top: 12px;
    left: 210px;
}

/* ROOMS */
.disclaimerRooms
{
    width: 250px;
    height: 115px;
    background-color: rgba(255,25,49,.8) !important;
}
.disclaimerRooms .disclaimer
{
    background-color: transparent !important;
    position: relative;
    top: 0;
    margin: 0 !important;
    width: 230px !important;
    height: 60px !important;
}
.disclaimerRooms .disclaimer p
{
    position: relative;
    line-height: inherit;
    top: 0;
    left: 0;
    margin: -5px 0 0 -20px !important;
    padding: 0 !important;
    width: 250px;
}
.disclaimerRooms .disclaimer input[type="button"]
{
    margin: 11px 0 0 10px;
}
.disclaimerRooms .disclaimer input[type="button"].hover
{
    -webkit-border-image: url("sp://import/img/info_group-button.png") 0 7 42 7;
    text-shadow: 0 1px 0 #eee;
}
.disclaimerRooms .disclaimer .checkbox
{
    margin: 0;
    padding: 0;
    left: 0;
    top: 97px;
}
#disclaimerLoginOriginal.disc p
{
    color: white;
}
#disclaimerLoginOriginal a {
    display: block;
    margin: 20px 0 25px;
}

/*
 * END DISCLAIMER
 */

#header
{
  background: url(../images/Wejay-small.png) no-repeat #fff;
  height: 64px;
  position:absolute;
  top:0;
}

#roomTitle 
{
  margin: 0;
  text-align: left;
  height: 82px;
  font-size: 42px;
  overflow: hidden;
  line-height: 1em;
}

.top
{
  margin: 20px auto;
  padding: 20px;
  width: 630px;
  display: block;
  height: 202px !important;
  text-align: left;
  position: relative;
  background-color: rgba(0,0,0,.6);
  /*border: 1px solid rgba(255,255,255,.2);*/
}
.top .left,
.top .right
{
  float: left;
}
.top .left
{
  width: 215px;
  height: 202px;
}
.top .right
{
  width: 390px;
  height: auto;
  left: 240px;
  bottom: 21px;
  position: absolute;
}
.top #onair
{
    line-height: 1em;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 2px;
    top: 4px;
    color: rgb(220,220,220);
}
.middle
{
  margin: 0 auto;
  width: 670px;
  display: block;
  text-align: left;
  height: auto;
}
.middle h2
{
  margin-bottom: 20px;
}
.middle .left,
.middle .right
{
  display: inline-block;
  float: left;
  margin-bottom: 20px;
}
.middle .left
{
  width: 330px !important;
  padding: 20px;
  background-color: rgba(0,0,0,.6);
}
.middle .left #queue {
  max-height: 665px;
  overflow: auto;
}
.middle .right div
{
  padding: 20px;
  background-color: rgba(0,0,0,.6);
  display: inline-block;
  width: 240px;
  margin-bottom: 20px;
}
.middle .right
{
  width: 280px;
  margin-left: 20px;
}
.middle .right #users
{
  max-height: 315px;
  overflow: auto;
  display: block;
  margin: 10px 0;
  overflow-x: hidden;
}
.middle .right .toplist ul {
  max-height: 240px;
  overflow: auto;
}
.middle .right.userlist
{
  clear: both;
}
.middle .right h3
{
  margin-left: 15px;
}
.middle .right .buttons
{
  float: left;
  clear: both;
  margin: 10px 0 0 -1px;
  width: 120%;
}
#start
{
  position: absolute;
  bottom: 4%;
  right: 4%;
  width: 43px;
  height: 43px;
  border: none;
  background: url("sp://import/img/play-button-M.png") transparent;
  background-position-x: -178px;
  display: block;
}
#start:hover 
{
  background-position-x: -223px;
}
#start.pause 
{
  opacity: 0.8;
  background-position-x: 43px;
}
#start.pause:hover 
{
    opacity: 1;
}
.image
{
  background-color: gray;
}

#sharePopup
{
  display: none;
  height: 0;
  margin: 20px auto;
  padding: 0;
  width: 630px;
  position: relative;
  background-image: -webkit-linear-gradient(top, #5798D2 0%,#3A87CD 100%);
  color: white;
  -webkit-transition: all .08s ease-in-out;
}
#sharePopup.show
{
  display: block;
  height: auto;
  padding: 20px;
  -webkit-transition: all .08s ease-in-out;
}
#sharePopup #closeShare
{
  background: url("../images/window-controls-generic.png") 0 0 no-repeat;
  -webkit-appearance: none;
  border: none;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
#sharePopup #shareOnMail:after,
#sharePopup #shareOnFacebook:after
{
  margin-left: 3px;
  content: url('sp://import/img/icon-external.png');
  opacity: 0.5;
  -webkit-transition: all .08s ease-in-out;
}
#sharePopup #shareOnMail:hover:after,
#sharePopup #shareOnFacebook:hover:after
{
  opacity: 1;
}
#manualShare
{
  padding: 10px 0 0;
}
#manualShare input
{
  display: inline-block;
  width: 45%;
}
#manualShare.hide
{
  display: none;
}
#sharePopup #closeShare:hover
{
  background-position: -30px 0;
}
footer
{
  border-top: 1px solid rgba(255,255,255,.2);
  box-shadow: 0 -1px 0 rgba(0,0,0,.2);
  width: 100%;
  display: inline-block;
  margin: 0 0 0 -15px;
  z-index: 0;
  clear: both;
  padding: 15px;
  background-color: #ecebe8;
  bottom: -150px;
  z-index: 4;
}
footer *
{
  color: #636363;
  text-align: left;
  width: 640px;
  margin: 0 auto;
  padding: 10px 0;
}
footer a
{
  color: black;
}
#userToplist li
{
  margin: 0;
  padding: 0;
}
#userToplist li a
{
  padding: 5px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin: 0;
  -webkit-transition: background-color .08s ease-in-out;
}
#userToplist li:nth-child(odd)
{
  background-color: rgba(255,255,255,.05);
}
#userToplist li a:hover
{
  background-color: rgba(255,255,255,.08);
}

@media (max-width:680px)
{
    section.current
    {
        min-height: 0;
        padding-top: 10px;
    }
    #roomSection section
    {
        min-width: 0;
        width: 100%;
    }
    #roomSection .top
    {
        margin: 0 0 20px;
        padding: 0 5% 10px;
        width: 90%;
        height: auto !important;
        position: relative;
        display: inline-block;
    }
    #roomSection .top .left
    {
        margin: 10px 0 0;
    }
    #roomSection .top #roomTitle
    {
        margin: 11px 0 0;
    }
    #roomSection .top #onair
    {
        top: initial;
        bottom: 4px;
    }
    #roomSection .top .right
    {
        float: right;
        width: auto;
        padding-bottom: 10px;
        bottom: 0;
    }
    #roomSection .middle
    {
        width: 100%;
    }
    #roomSection .middle .input
    {
        width: 100%;
        max-width: 100%;
    }
    #roomSection .middle .auto-completeForm
    {
        margin-left: 5px;
    }
    #roomSection .middle .auto-complete.show,
    #roomSection .middle .auto-complete .tracks,
    #roomSection .middle .auto-complete.show .tracks a
    {
        width: 96%;
        max-width: 96%;
    }
    #roomSection .middle .left
    {
        width: 90% !important;
        margin: 0 0 20px;
        padding: 0 5% 20px;
    }
    #roomSection .middle .left #queue
    {
        width: 100%;
    }
    #roomSection .middle .left #queue .nothing.playing
    {
        position: relative;
        width: 95%;
        margin: 0;
        padding: 2.5%;
    }
    #roomSection .middle .left #queue .song
    {
        width: 90%;
        padding: 0 0 0 10%;
    }
    #roomSection .middle .left #queue .star
    {
        margin: 12px 0 0 3.8%;    
    }
    #roomSection .middle .right
    {
        width: 100% !important;
        margin: 0;
        padding: 0;
    }
    #roomSection .middle .right #users li
    {
        width: 50%;
    }
    #roomSection .middle .right #users li.noOneIsLoggedIn
    {
        width: 100%;
    }
    #roomSection .middle .right #users li a p
    {
        display: block;
        margin: 7px 0 0 60px;
    }
    #chooseSection .banner .input
    {
        width: 100%;
    }
    #chooseSection .banner input[type="text"]
    {
        width: 100%;
    }
    #chooseSection .banner form
    {
        position: inherit;
        bottom: 0;
        left: 0;
    }
    .middle .right div
    {
        width: 90%;
        padding: 0 5% 10px;
    }
    #aboutSection section span, #chooseSection section span
    {
        width: 90%;
        padding: 0 5%;
    }
    #aboutSection section, #chooseSection section 
    {
        width: 100%;
        margin: 0;
    }
    #chooseSection .rooms
    {
        width: 100%;
    }
    #chooseSection .banner
    {
        width: 90%;
        padding: 0 5% 20px;
        height: auto;
        margin: 0 0 20px;
    }
    #chooseSection .banner form input[type="submit"]
    {
        display: none;
    }
    #chooseSection .buttons
    {
        padding: 0 5% 15px;
        width: 90%;
        margin: 0 0 20px;
        height: auto;
    }
    .disclaimer
    {
        margin: 0 0 20px;
        position: relative;
        width: 100%;
        padding: 10px 0 0;
        height: auto;
    }
    .disclaimer *
    {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
    }
    .disclaimer h1
    {
        padding-top: 10px;
        text-align: left;
        display: block;
        width: 100%;
    }
    .disclaimer .checkbox
    {
        padding: 0;
        margin: 16px 0 0 15px;
        float: left;
    }
    .disclaimer.rooms
    {
        width: 100% !important;
    }
    .disclaimer p
    {
        position: relative;
        width: 80%;
        padding: 0 5% 0 0;
        margin: 0;
    }
    .disclaimerRooms    
    {
        padding: 0 5% 15px !important;
    }
    .disclaimerRooms .disclaimer p
    {
        width: 100%;
        display: block;
    }
    .disclaimerRooms .disclaimer .checkbox
    {
        margin: 12px 0 0 -20px;
    }
    #sharePopup
    {
        width: 90%;
        padding: 20px 5% !important;
        margin: 0 0 20px;
        overflow: hidden;
        text-align: left;
    }
    footer *
    {
        width: 90%;
    }
}

@media (max-width:460px)
{
    #roomSection .top #roomTitle
    {
        position: absolute;
        top: 10px;
    }
    #roomSection .top .left
    {
        margin: 60px auto 0;
        float: none;
        position: relative;
        width: 200px;
    }
    #roomSection .top .right
    {
        float: none;
        display: block;
        position: relative;
        top: 10px;
        left: 0;
        padding-bottom: 20px;
    }
    #roomSection .middle .right #users li
    {
        width: 100%;
    }
}